// paddings
$padding-sides-mobile: 0 2rem;
$padding-sides-tablet: 0 4rem;
$padding-sides-desktop: 0 3rem;

// font-size mobile
$fs-nav-mb: 1.8rem;
$fs-nav-mb-links: 1.6rem;
$fs-header-mb: 2rem;
$fs-header-md-text: 1.6rem;
$fs-heading-mb: 2.6rem;
$fs-text-mb: 1.6rem;
$fs-text-mb-inside-card: 2rem;

$fs-nav-md: 2rem;
$fs-nav-md-links: 2rem;
$fs-header-md: 3rem;
$fs-header-md-text: 2rem;
$fs-text-md-inside-card: 3rem;
$fs-text-md: 2.2rem;

$fs-nav-lg: 1.8rem;
$fs-header-lg: 4rem;
$fs-header-lg-text: 2rem;
$fs-text: 2rem;