@import './_variables';
@import './_colors';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// set global font size to 10px
html {
    scroll-padding-top: 7vh;
}


// navigation
nav {

    // nav for mobile and tablet
    .nav__mobile {
        display: none;
    }

    .nav__desktop {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: $fs-nav-lg;
        background-color: $grey;
        height: 8vh;
        max-height: 90px;
        width: 100%;
        z-index: 101;

        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__logo {
            font-size: 2rem;
            color: $black;
            text-decoration: none;
            transition: color .3s;
        }

        &__logo:hover {
            color: $gold;
        }


        &__links {
            &__link {

                &__btn {
                    position: relative;
                    padding: .3rem 2rem;
                    background-color: transparent;
                    border: transparent;
                }

                &__btn::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $gold;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .3s;
                }

                &__btn:hover::before {
                    transform: scaleX(1);
                }

            }
        }

    }
}

// header - home site
.header {
    height: 100vh;
    padding: $padding-sides-desktop;

    // text inside header
    &__text {
        &__header {
            font-size: $fs-header-lg;
            font-family: 'Rubik', sans-serif;
        }

        &__content {
            font-size: $fs-header-lg-text;
            margin: 4rem 0;
        }
    }

    // button box
    &__knowus-wash {
        &__button {
            font-size: $fs-header-lg-text;
        }
    }

}

main {

    // head styles for every section "h2"
    .heading {
        font-size: 3rem;
        padding-top: 4rem;
    }

    // about us section
    .aboutus {
        padding-bottom: 4rem;


        &__card {
            flex-direction: row;
            padding: 3rem 0;
            margin: 1rem 0;
            height: 300px;
            border-radius: 4px;

            &--evolution,
            &--pets {
                flex-direction: row-reverse;
            }



            &__img {
                padding: 3rem 6rem;
                height: 100%;
                max-height: 480px;
                width: 100%;
                border: none;
                border-radius: 0px;

                &__text {
                    font-size: $fs-text;
                }

                &--details {
                    border: 3px solid $black;
                    border-right: none;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    background-image: url('../img/main/aboutus/detail.jpg');
                }

                &--evolution {
                    border: 3px solid $black;
                    border-left: none;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    background-image: url('../img/main/aboutus/evolution.jpg');
                }

                &--fun {
                    border: 3px solid $black;
                    border-right: none;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    background-image: url('../img/main/aboutus/fun.jpg');
                }

                &--pets {
                    border: 3px solid $black;
                    border-left: none;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    background-image: url('../img/main/aboutus/pets.jpg');
                }

            }

            &__under {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 3rem 6rem;
                font-size: $fs-text;
                border: 3px solid rgba(232, 138, 26, 1);
                border-radius: 4px;

                &__head {
                    font-size: 2.2rem;
                    padding-bottom: 3rem;
                }

                &__head::before {
                    bottom: 2rem;
                    width: 100%;
                }

            }
        }
    }

    // cut after fir section
    .cut {
        height: 20vh;
        background-image: url('../img/main/cut/cut.jpg');

        &__text {
            display: flex;
            padding: $padding-sides-mobile;
            font-size: 3rem;
            z-index: 1;
        }
    }

    // portfolio section
    .portfolio {
        padding-bottom: 4rem;
        z-index: -5;

        &__heading {
            padding-bottom: 4rem;
        }

        .carousel-item {
            img {
                height: 70vh;
                border-radius: 4px;
            }
        }

    }

    // offers section
    .offers {

        &__top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 4rem;
            width: 100%;


            &__down {
                display: flex;
                justify-content: space-evenly;
            }

            &__card {
                margin: 3rem 0;
                padding: 1rem;
                font-size: $fs-text;
                height: 300px;

                width: 25%;
                background-size: cover;


                &--ceramics {
                    // background-image: url('../img/main/offers/ceramics.jpg');
                }

                &--wax {
                    margin: 0 6rem;
                    // background-image: url('../img/main/offers/wax.jfif');
                }

                &--wash {
                    margin-right: 0;
                    // background-image: url('../img/main/offers/wash.jfif');
                }

                &--impregnation {
                    // background-image: url('../img/main/offers/impregnation.jpg')
                }

                &--engine {
                    // background-image: url('../img/main/offers/engine.jpg');
                }
            }


        }

        &__down {
            display: none;
            border: 3px solid $gold;
            padding: 1rem;
            text-align: center;
            margin-bottom: 2rem;
            border-radius: 4px;

            &__contact-us {
                position: relative;
                color: $grey;
                text-decoration: none;
            }

            &__contact-us::before {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                background-color: $grey;
                height: 1px;
                width: 100%;
            }
        }
    }

    // contact form. Phone and socials section
    .contact {

        &__desktop__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // align-items: center;
            padding: 4rem 0;
            width: 100%;
            height: 100%;

            &__message {
                padding: 0 2rem;
                margin-top: 1rem;
                color: $black;
                text-align: left;
                opacity: 1;
            }
        }

        &__text-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            margin: 0;
            padding: 2rem 2rem;
            font-size: 1.6rem;
            width: 40%;
            height: 50vh;
            max-height: 450px;
            min-height: 420px;
            text-align: center;

            &__desktop-social {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                width: 100%;
                text-align: left;

                a {
                    padding: 1rem 0;
                    font-size: 1.6rem;
                    width: 100%;
                    color: $black;
                    border-radius: 4px;
                    text-decoration: none;
                    transition: background-color .3s;

                    i {
                        padding: 0 2rem;
                    }
                }

                a:hover {
                    background-color: white;
                }
            }


            &__up {
                font-size: 1.8rem;
                text-align: left;
                padding: 0 2rem;
            }

            &__down {
                text-align: left;
                padding: 2rem;
            }
        }

        &__form {
            display: block;
            font-size: 1.6rem;
            // height: 100%;
            width: 55%;

            &__sheet {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                height: 50vh;
                max-height: 450px;
                min-height: 420px;


                input,
                &__button {
                    margin: 0;
                    padding: 1rem;
                }

                &__button {
                    margin-bottom: -1rem;
                }

                &__info {
                    display: none;
                }

                &__message {
                    margin-top: 0rem;
                    max-height: 5vh;
                }
            }
        }


        &__others {
            display: none;
        }
    }

}

// footer
.footer {
    padding-top: 2rem;

    &__box {
        font-size: 2rem;
        margin-bottom: 3rem;

        &__logo {
            height: 100px;
            width: 100px;
            background-image: url('../img/footer/logo/logo.jpg');
        }
    }

    &__copyright {
        margin-top: 3rem;
        position: relative;
        font-size: 1.4rem;

        &__author {
            margin-top: 2rem;
        }
    }

    &__copyright::after {
        content: '';
        position: absolute;
        left: 0;
        top: -1rem;
        background-color: $grey;
        height: 1px;
        width: 100%;
    }
}