@import './_variables';
@import './_colors';

html {
    scroll-padding-top: 80px;
}



// navigation
nav {

    // nav for mobile and tablet
    .nav__mobile {
        padding: $padding-sides-tablet;
        height: 12vh;
        font-size: $fs-nav-md;

        &__links {

            &__link {
                margin: 1rem;
                font-size: $fs-nav-md-links;
            }
        }

        &__links--active {
            display: flex;
            animation: nav-active .6s ease-out forwards;
        }

        &__links--nav__exit {
            display: flex;
            animation: nav-disable .6s ease-in forwards;
        }

        @keyframes nav-active {
            from {
                top: -100vh;
            }

            to {
                top: 0vh;
            }
        }

        @keyframes nav-disable {
            from {
                top: 0vh;
            }

            to {
                top: -100vh;
            }
        }
    }
}

// header - home site
.header {

    height: 100vh;

    // text inside header
    &__text {

        &__header {
            font-size: $fs-header-md;
        }

        &__content {
            font-size: $fs-header-md-text;
            margin-top: 3vh;
            margin-bottom: 3vh;
        }
    }

    // button box
    &__knowus-wash {
        &__button {
            padding: 1.5rem;
            font-size: $fs-header-md-text;
        }
    }

}

main {

    // head styles for every section "h2"
    .heading {
        font-size: 2.8rem;
        padding-top: 4rem;
        font-weight: bold;
        text-align: center;
    }

    // about us section
    .aboutus {
        padding: $padding-sides-tablet;
        padding-bottom: 4rem;

        &__card {
            padding-top: 4rem;

            &__img {
                height: 45vh;
                background-size: cover;

                &__text {
                    font-size: $fs-text-md-inside-card;
                }

                &--details {
                    background-image: url('../img/main/aboutus/detail-md.webp');
                }

                &--evolution {
                    background-image: url('../img/main/aboutus/evolution-md.webp');
                }

                &--fun {
                    background-image: url('../img/main/aboutus/fun-md.webp');
                }

                &--pets {
                    background-image: url('../img/main/aboutus/pets-md.webp');
                }

            }

            &__under {
                padding: 4rem;
                font-size: 2rem;

                &__head {
                    font-size: $fs-text-md;
                    padding-bottom: 4rem;
                }

                &__head::before {
                    bottom: 3rem;
                }

            }
        }
    }

    // cut after fir section
    .cut {
        height: 30vh;
        background-image: url('../img/main/cut/cut-md.webp');

        &__text {
            padding: $padding-sides-tablet;
            font-size: $fs-text-mb-inside-card;
        }
    }

    // portfolio section
    .portfolio {
        background-color: $grey;
        color: black;
        padding-bottom: 4rem;

        &__heading {
            padding-bottom: 4rem;
        }



    }

    // offers section
    .offers {
        padding: $padding-sides-tablet;

        &__top {
            &__card {
                margin-bottom: 4rem;
                font-size: $fs-text-md-inside-card;
                height: 50vh;

                &--upholstery {
                    margin-top: 3rem;
                    background-image: url('../img/main/offers/upholstery-md.webp');
                }

                &--interior {
                    background-image: url('../img/main/offers/interior-md.webp');
                }

                &--polisher {
                    background-image: url('../img/main/offers/polisher-md.webp');
                }

                &--glass {
                    background-image: url('../img/main/offers/glass-md.webp')
                }

                &--wash {
                    background-image: url('../img/main/offers/wax-md.webp');
                }

                &--reflector {
                    background-image: url('../img/main/offers/reflector-md.webp');
                }
            }

        }

        &__down {
            font-size: $fs-text-md-inside-card;
            padding: 3rem;
            margin-bottom: 3rem;
        }
    }

    // contact form. Phone and socials section
    .contact {
        padding: $padding-sides-tablet;

        &__text-box {
            margin-top: 4rem;
            padding: 3rem;
            font-size: 1.8rem;

            &__up {
                padding-bottom: 4rem;
                font-size: $fs-text-md;
            }
        }

        &__form {
            font-size: $fs-text-md;

            &__sheet {
                margin-bottom: 4rem;

                input,
                &__button {
                    margin-top: 1.5rem;
                    border-radius: 4px;
                    padding: 1rem 0;
                }

                &__info {
                    padding-top: 1.5rem;
                }

                &__message {
                    padding: 1rem 3rem;
                    margin-top: 2rem;
                    height: 10vh;
                    height: 10vh;
                    max-height: 20vh;
                    line-height: 5vh;
                }
            }
        }

        &__others {
            padding-bottom: 4rem;

            .fas,
            .fab {
                font-size: 4rem;
            }

        }
    }

}

// footer
.footer {
    padding: 2rem 4rem;

    &__box {
        font-size: $fs-text-md;
        margin-bottom: 4rem;

        &__logo {
            background-image: url('../img/footer/logo/logo.webp');
        }
    }

    &__copyright {
        position: relative;
        font-size: 1.4rem;

        &__author {
            margin-top: 1rem;

        }
    }

    &__copyright::after {
        top: -1.5rem;
    }
}