@import './_variables';
@import './_colors';

// set global font size to 10px
html {
    scroll-padding-top: 14vh;
}

// navigation
nav {

    // nav for mobile and tablet
    .nav__mobile {
        padding: 0 4rem;
        height: 15vh;

        &__links {

            &__link {
                margin: 1rem;
            }
        }

        @keyframes nav-active {
            from {
                top: -100vh;
            }

            to {
                top: 0h;
            }
        }

        @keyframes nav-disable {
            from {
                top: 0vh;
            }

            to {
                top: -100vh;
            }
        }
    }
}

.header {
    height: 85vh;
}


main {

    // about us section
    .aboutus {
        &__card {
            &__img {
                height: 50vh;
            }
        }
    }

    // cut after fir section
    .cut {
        height: 40vh;
    }

    // portfolio section
    .portfolio {
        padding-bottom: 2rem;

        &__heading {
            padding-bottom: 2rem;
        }





        .carousel-item {

            img {
                min-height: 400px;
            }

        }

    }

    // offers section
    .offers {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $padding-sides-mobile;
        color: $grey;

        &__top {
            width: 100%;

            &__card {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30vh;
                width: 100%;
                border-radius: 4px;
                background-size: cover;
                background-position: center;
                text-align: center;

                &--ceramics {
                    margin-top: 2rem;
                    // background-image: url('../img/main/offers/ceramics.jpg');
                }


            }

        }

        &__down {
            border: 3px solid $gold;
            padding: 1rem;
            width: 100%;
            text-align: center;
            margin-bottom: 2rem;
            border-radius: 4px;

            &__contact-us {
                position: relative;
                color: $grey;
                text-decoration: none;
            }

            &__contact-us::before {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                background-color: $gold;
                height: 1px;
                width: 100%;
            }
        }
    }

    // contact form. Phone and socials section
    .contact {
        padding: $padding-sides-mobile;
        color: $black;
        background-color: $grey;
        width: 100%;

        &__text-box {
            margin-top: 2rem;
            padding: 2rem;
            text-align: center;
            color: $black;
            background-color: $black;
            border-radius: 4px;

            &__up {
                padding-bottom: 1rem;
                font-weight: bold;
                text-align: center;
            }

        }

        &__form {
            color: $black;

            &__sheet {
                display: flex;
                width: 100%;
                flex-direction: column;
                margin-bottom: 2rem;


                input,
                &__button {
                    text-align: center;
                    margin-top: 1rem;
                    border-radius: 4px;
                    padding: 1rem 0;
                    background-color: transparent;
                    transition: background-color .3s, color .3s;
                }

                &__button:hover {
                    background-color: $gold;
                    color: $black;
                }

                &__info {
                    opacity: 0;
                    padding-top: .5rem;
                    text-align: center;
                }

                &__message {
                    padding: 2rem 2rem;
                    margin-top: 1rem;
                    min-width: 100%;
                    height: 10vh;
                    height: 10vh;
                    max-height: 10vh;
                    background-color: $grey;
                    border-radius: 4px;
                    text-align: center;
                    overflow: auto;
                }
            }
        }

        &__others {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 2rem;
            text-align: center;



            a,
            button {
                color: $black;
                padding: 1rem;
                border: transparent;
                background-color: transparent;
            }

            &__phone {
                display: flex;
                align-items: center;
                text-decoration: none;
            }





        }
    }

}

// footer
.footer {
    padding: $padding-sides-mobile;
    color: $grey;
    background-color: $black;
    text-align: center;

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        &__logo {
            height: 100px;
            width: 100px;
            background-image: url('../img/footer/logo/logo.webp');
            background-size: cover;
            background-position: center;
        }
    }

    &__copyright {
        position: relative;

        &__author {
            margin-top: 1rem;

            a {
                color: $grey;
                padding: .5rem;
                text-decoration: none;
                cursor: pointer;
                transition: color .3s;
            }

            a:hover {
                color: wheat;
            }

        }
    }

    &__copyright::after {
        content: '';
        position: absolute;
        left: 0;
        top: -.5rem;
        background-color: $grey;
        height: 1px;
        width: 100%;
    }
}