@import './_variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}


// set global font size to 10px
html {
    // font size = 10px
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9vh;
}

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    min-width: 100%;
}

// navigation
nav {

    // nav for mobile and tablet
    .nav__mobile {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        height: 10vh;
        width: 100vw;
        background-color: white;
        color: black;
        font-size: 1.8rem;
        z-index: 101;

        &__logo {
            padding: 1rem;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            transition: transform .3s;
        }

        &__logo:hover {
            transform: scale(1.05);
        }

        &__burger-btn {
            cursor: pointer;
            padding: 1rem;
            transform: scale(.55);
        }

        &__links {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            top: -100vh;
            padding: $padding-sides-mobile;
            color: black;
            background-color: white;
            width: 100vw;
            height: 90vh;
            z-index: 100;
            text-align: center;


            &__link {
                margin: 3rem;
                font-size: 1.6rem;
                padding: 1rem;
                width: 50%;
                background-color: white;
                border: 2px solid black;
                border-radius: 4px;
                transition: background-color .3s, border .3s;

                a {
                    color: black;
                    text-decoration: none;
                }

                button {
                    border: transparent;
                    background-color: transparent;
                    transition: color .3s;
                }
            }

            &__link:hover {
                background-color: black;
                border: 2px solid white;
            }

            &__link:hover button {
                color: white;
            }

        }



        &__links--active {
            display: flex;
            animation: nav-active .6s ease-out forwards;
        }

        &__links--nav__exit {
            display: flex;
            animation: nav-disable .6s ease-in forwards;
        }
    }

    @keyframes nav-active {
        from {
            top: -100vh;
        }

        to {
            top: 10vh;
        }
    }

    @keyframes nav-disable {
        from {
            top: 10vh;
        }

        to {
            top: -100vh;
        }
    }

}

// header - home site
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: $padding-sides-mobile;
    background-image: url("../img/header/header.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    // background shadow
    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: 0;
    }

    // text inside header
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: 1;

        &__header {
            font-size: 2rem;
            width: 100%;
            font-weight: normal;
            text-align: center;
        }

        &__content {
            font-size: 1.6em;
            font-weight: normal;
            text-align: center;
            margin-top: 3vh;
            margin-bottom: 3vh;

        }
    }

    // button box
    &__knowus-wash {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: .5rem;
        font-size: 1.4rem;
        align-items: center;
        z-index: 1;

        &__button {
            position: relative;
            font-size: 1.4rem;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 4px;
            color: white;
            padding: 1rem;

            a {
                color: white;
                text-decoration: none;
            }
        }

        &__button::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .3s;
            z-index: -1;
        }

        &__button:hover::before {
            transform: scaleX(1);
        }
    }

}

main {

    // head styles for every section "h2"
    .heading {
        font-size: 1.8rem;
        padding-top: 2rem;
        font-weight: bold;
        text-align: center;
    }

    // about us section
    .aboutus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $padding-sides-mobile;
        padding-bottom: 2rem;
        color: black;
        background-color: white;


        &__card {
            position: relative;
            padding-top: 2rem;
            height: 30vh;
            width: 100%;
            border-radius: 4px;
            text-align: center;

            &__img {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                width: 100%;
                background-size: 100%;
                background-position: center;
                border-top: 3px solid black;
                border-right: 3px solid black;
                border-left: 3px solid black;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                overflow: hidden;
                transition: background-size .3s;
                filter: grayscale(1);

                &__shadow {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, .6);
                }

                &__text {
                    font-size: 2rem;
                    color: white;
                    z-index: 2;
                }

                &--details {
                    background-image: url('../img/main/aboutus/detail.jpg');
                }

                &--evolution {
                    background-image: url('../img/main/aboutus/evolution.jpg');
                }

                &--fun {
                    background-image: url('../img/main/aboutus/fun.jpg');
                }

                &--pets {
                    background-image: url('../img/main/aboutus/pets.jpg');
                }

            }

            &__img:hover {
                background-size: 110%;
            }

            &__under {
                padding: 2rem;
                font-size: 1.4rem;
                width: 100%;
                border-right: 3px solid black;
                border-bottom: 3px solid black;
                border-left: 3px solid black;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                &__head {
                    position: relative;
                    font-size: 1.6rem;
                    padding-bottom: 1rem;
                }

                &__head::before {
                    content: '';
                    position: absolute;
                    bottom: .5rem;
                    left: 0;
                    width: 15%;
                    height: 2px;
                    background-color: black;
                }

            }
        }
    }

    // cut after fir section
    .cut {
        position: relative;
        display: flex;
        height: 20vh;
        background-image: url('../img/main/cut/cut.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        &__shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .6);
        }

        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: $padding-sides-mobile;
            width: 100%;
            font-size: 2rem;
            z-index: 1;
        }
    }

    // portfolio section
    .portfolio {
        background-color: white;
        color: black;
        padding-bottom: 2rem;

        &__heading {
            padding-bottom: 2rem;
        }

    }

    // offers section
    .offers {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $padding-sides-mobile;
        color: white;
        font-size: 1.4rem;

        &__top {
            width: 100%;

            &__card {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;
                font-size: 2rem;
                height: 20vh;
                width: 100%;
                border: 1px solid white;
                border-radius: 4px;
                background-size: 100%;
                background-position: center;
                filter: grayscale(1);
                text-align: center;
                transition: background-size .3s;

                &--ceramics {
                    margin-top: 2rem;
                    background-image: url('../img/main/offers/ceramics.jpg');
                }

                &--wax {
                    background-image: url('../img/main/offers/wax.jfif');
                }

                &--wash {
                    background-image: url('../img/main/offers/wash.jfif');
                }

                &--impregnation {
                    background-image: url('../img/main/offers/impregnation.jpg')
                }

                &--engine {
                    background-image: url('../img/main/offers/engine.jpg');
                }
            }

            &__card:hover {
                background-size: 110%;
            }
        }

        &__down {
            border: 1px solid white;
            padding: 1rem;
            text-align: center;
            margin-bottom: 2rem;
            border-radius: 4px;

            &__contact-us {
                position: relative;
                color: white;
                text-decoration: none;
            }

            &__contact-us::before {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                background-color: white;
                height: 1px;
                width: 100%;
            }
        }
    }

    // contact form. Phone and socials section
    .contact {
        padding: $padding-sides-mobile;
        color: black;
        background-color: white;
        width: 100%;

        &__text-box {
            margin-top: 2rem;
            padding: 2rem;
            font-size: 1.4rem;
            text-align: center;
            color: white;
            background-color: black;
            border: 1px solid white;
            border-radius: 4px;

            &__up {
                padding-bottom: 1rem;
                font-size: 1.6rem;
                font-weight: bold;
            }
        }

        &__form {
            font-size: 1.4rem;
            color: black;

            &__sheet {
                display: flex;
                width: 100%;
                flex-direction: column;
                margin-bottom: 2rem;


                input,
                &__button {
                    text-align: center;
                    margin-top: 1rem;
                    border-radius: 4px;
                    padding: 1rem 0;
                    background-color: transparent;
                    transition: background-color .3s, color .3s;
                }

                &__button:hover {
                    background-color: black;
                    color: white;
                }

                &__info {
                    opacity: 0;
                    padding-top: .5rem;
                    text-align: center;
                }

                &__message {
                    padding: 1rem 2rem;
                    margin-top: 1rem;
                    min-width: 100%;
                    height: 10vh;
                    min-height: 10vh;
                    max-height: 10vh;
                    border: 1px solid black;
                    border-radius: 4px;
                    text-align: center;
                    overflow: auto;
                }
            }
        }

        &__others {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 2rem;
            padding-bottom: 2rem;
            text-align: center;

            .fas,
            .fab {
                font-size: 4rem;
            }

            a,
            button {
                color: black;
                padding: 1rem;
                border: transparent;
                background-color: transparent;
            }

            &__phone {
                display: flex;
                align-items: center;
                font-size: 2.2rem;
                text-decoration: none;
            }



        }
    }

}

// footer
.footer {
    margin: 2rem 0;
    padding: $padding-sides-mobile;
    color: white;
    background-color: black;
    text-align: center;

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        margin-bottom: 2rem;

        &__logo {
            height: 100px;
            width: 100px;
            background-image: url('../img/footer/logo/logo.jpg');
            background-size: cover;
            background-position: center;
        }
    }

    &__copyright {
        position: relative;
        font-size: 1.2rem;

        &__author {
            margin-top: 1rem;

            a {
                color: white;
                padding: .5rem;
                text-decoration: none;
                cursor: pointer;
                transition: color .3s;
            }

            a:hover {
                color: wheat;
            }

        }
    }

    &__copyright::after {
        content: '';
        position: absolute;
        left: 0;
        top: -.5rem;
        background-color: white;
        height: 1px;
        width: 100%;
    }
}