@import './_variables';
@import './_colors';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// set global font size to 10px
html {
    // font size = 10px
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9vh;
}

body {
    background-color: $black;
    color: $grey;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    height: 100%;
}

// navigation
nav {
    .nav__desktop {
        display: none;
    }

    // nav for mobile and tablet
    .nav__mobile {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        height: 10vh;
        max-height: 80px;
        width: 100vw;
        font-size: $fs-nav-mb;
        color: $black;
        background-color: $grey;
        z-index: 101;


        &__logo {
            padding: 1rem;
            color: $black;
            text-decoration: none;
            text-transform: uppercase;
            transition: color .3s;
        }

        &__logo:hover {
            color: $gold;
        }

        &__burger-btn {
            cursor: pointer;
            padding: 1rem;
            transform: scale(.55);
        }

        &__links {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            top: -100vh;
            padding: $padding-sides-mobile;
            padding-top: 2rem;
            width: 100vw;
            height: 100vh;
            color: $black;
            background-color: $grey;
            text-align: center;
            z-index: 100;

            &__link {
                padding: 1rem;
                margin: 3rem;
                width: 50%;
                font-size: $fs-nav-mb-links;
                background-color: $grey;
                border: 2px solid $black;
                border-radius: 4px;
                transition: background-color .3s;

                a {
                    color: $black;
                    text-decoration: none;
                }

                button {
                    background-color: transparent;
                    border: transparent;
                    transition: color .3s;
                }
            }

            &__link:hover {
                background-color: $gold;
            }
        }

        &__links--active {
            display: flex;
            animation: nav-active .6s ease-out forwards;
        }

        &__links--nav__exit {
            display: flex;
            animation: nav-disable .6s ease-in forwards;
        }
    }

    @keyframes nav-active {
        from {
            top: -100vh;
        }

        to {
            top: 0vh;
        }
    }

    @keyframes nav-disable {
        from {
            top: 10vh;
        }

        to {
            top: -100vh;
        }
    }
}

// header - home site
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: $padding-sides-mobile;
    overflow: hidden;

    video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: .9;
    }


    // background shadow
    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 20, 20, .8);
        z-index: 0;
    }

    // text inside header
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: 1;

        &__header {
            font-family: 'Oswald', sans-serif;
            font-size: $fs-header-mb;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            // animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
        }

        &__content {
            margin-top: 3vh;
            margin-bottom: 3vh;
            font-size: $fs-header-md-text;
            font-weight: normal;
            text-align: center;
            // animation: text-focus-in 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
        }
    }

    &__button {
        position: relative;
        padding: .8rem;
        font-size: $fs-header-md-text;
        color: $grey;
        background-color: transparent;
        border: 1px solid $gold;
        border-radius: 4px;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s;
        // animation: text-focus-in 2.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
        z-index: 0;
    }

    &__button:hover {
        color: $black;
    }

    &__button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $gold;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .3s;
        z-index: -1;
    }

    &__button:hover::before {
        transform: scaleX(1);
    }

    /* ----------------------------------------------
    * Generated by Animista on 2021-8-17 19:12:42
    * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation text-focus-in
     * ----------------------------------------
     */
    @keyframes text-focus-in {
        0% {
            filter: blur(4px);
            opacity: 0;
            color: $gold;
        }

        100% {
            filter: blur(0px);
            opacity: 1;
            color: $grey;
        }
    }
}

main {

    // head styles for every section "h2"
    .heading {
        font-size: $fs-heading-mb;
        padding-top: 3rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    // about us section
    .aboutus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $padding-sides-mobile;
        padding-bottom: 3rem;
        color: $grey;
        background-color: $black;
        overflow: hidden;



        &__card {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-top: 3rem;
            width: 100%;
            border-radius: 4px;

            &__img {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 25vh;
                max-height: 400px;
                width: 100%;
                border: 3px solid black;
                border-bottom: none;
                border-radius: 4px;
                background-size: cover;
                background-position: center;
                transition: background-size .3s;
                text-align: center;


                &__shadow {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(20, 20, 20, .6);
                }

                &__text {
                    font-size: $fs-text-mb-inside-card;
                    color: white;
                    z-index: 2;
                }

                &--details {
                    background-image: url('../img/main/aboutus/detail-sm.webp');
                }

                &--evolution {
                    background-image: url('../img/main/aboutus/evolution-sm.webp');
                }

                &--fun {
                    background-image: url('../img/main/aboutus/fun-sm.webp');
                }

                &--pets {
                    background-image: url('../img/main/aboutus/pets-sm.webp');
                }

            }

            &__img:hover {
                background-size: 140%;
            }

            &__under {
                padding: 2rem;
                font-size: $fs-text-mb;
                width: 100%;
                border: 3px solid $gold;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                &__head {
                    position: relative;
                    font-size: $fs-text-mb;
                    padding-bottom: 1rem;
                }

                &__head::before {
                    content: '';
                    position: absolute;
                    bottom: .5rem;
                    left: 0;
                    width: 15%;
                    height: 2px;
                    background-color: $gold;
                }

            }
        }
    }

    // cut after fir section
    .cut {
        position: relative;
        display: flex;
        height: 20vh;
        min-height: 200px;
        background-image: url('../img/main/cut/cut-sm.webp');
        background-size: cover;
        background-position: center;

        &__shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(20, 20, 20, .6);
        }

        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: $padding-sides-mobile;
            width: 100%;
            font-size: $fs-text-mb-inside-card;
            z-index: 1;
        }
    }

    // portfolio section
    .portfolio {
        background-color: $grey;
        color: $black;
        padding-bottom: 4rem;
        overflow: hidden;

        &__heading {
            padding-bottom: 3rem;
        }

        .carousel-item {

            img {
                height: 40vh;
                object-fit: cover;
                object-position: center;
            }

        }

        .container-fluid {
            padding: 0;
        }

        .carousel-indicators .active {
            background-color: $gold;
            overflow: hidden;
        }
    }

    // offers section
    .offers {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $padding-sides-mobile;
        background-color: $black;
        color: $grey;
        font-size: $fs-text-mb;
        overflow: hidden;

        &__top {
            width: 100%;

            &__card {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 3rem;
                font-size: $fs-text-mb-inside-card;
                min-height: 30vh;
                width: 100%;
                border: 3px solid $gold;
                border-radius: 4px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                text-align: center;
                color: black;
                transition: color .3s;

                &__shadow {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(20, 20, 20, .6);
                }

                &__text {
                    color: $grey;
                    z-index: 2;
                    padding: 1rem;
                }

                &--upholstery {
                    margin-top: 3rem;
                    background-image: url('../img/main/offers/upholster-sm.webp');
                }

                &--interior {
                    background-image: url('../img/main/offers/interior-sm.webp');
                }

                &--polisher {
                    background-image: url('../img/main/offers/polisher-sm.webp');
                }

                &--glass {
                    background-image: url('../img/main/offers/glass-sm.webp')
                }

                &--wash {
                    background-image: url('../img/main/offers/wax-sm.webp');
                }

                &--reflector {
                    background-image: url('../img/main/offers/reflector-sm.webp');
                }

                &__back {
                    transform: rotateX(180deg);
                    opacity: 0;
                }

            }
        }

        &__down {
            padding: 1rem;
            border: 3px solid $gold;
            text-align: center;
            margin-bottom: 4rem;
            border-radius: 4px;

            &__contact-us {
                position: relative;
                color: $grey;
                text-decoration: none;
            }

            &__contact-us::before {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $gold;
            }
        }
    }

    // contact form. Phone and socials section
    .contact {
        padding: $padding-sides-mobile;
        color: $black;
        background-color: $grey;
        width: 100%;
        z-index: 100;
        overflow: hidden;

        &__desktop__wrapper__message {
            display: none;
        }

        &__text-box {
            margin-top: 3rem;
            padding: 2rem;
            font-size: $fs-text-mb;
            text-align: center;
            color: $black;
            background: linear-gradient(150deg, rgba(232, 138, 26, 1) 0%, rgb(199, 118, 19) 33%, rgb(158, 93, 13) 66%);
            color: $black;
            border-radius: 4px;
            border: 3px solid $black;
            word-wrap: break-word;

            &__desktop-social {
                display: none;
            }

            &__up {
                padding-bottom: 1rem;
                font-size: $fs-text-mb;
                font-weight: bold;
            }
        }

        &__form {
            font-size: $fs-text-mb;
            color: $black;

            &__sheet {
                display: flex;
                flex-direction: column;
                padding-bottom: 1rem;
                width: 100%;

                input,
                &__button {
                    padding: .8rem 0;
                    margin-top: 2rem;
                    background-color: $grey;
                    border: 3px solid $black;
                    border-radius: 4px;
                    text-align: center;
                    transition: background-color .3s, color .3s;
                }

                &__button {
                    border: 3px solid $black;
                }

                &__button:hover {
                    color: white;
                    background-color: $grey;
                }

                &__info {
                    opacity: 0;
                    padding-top: .5rem;
                    text-align: center;
                }

                &__message {
                    padding: .8rem;
                    margin-top: 2rem;
                    background-color: $grey;
                    height: 10vh;
                    line-height: 5vh;
                    min-width: 100%;
                    min-height: 10vh;
                    max-height: 10vh;
                    border: none;
                    border: 3px solid $black;
                    border-radius: 4px;
                    text-align: center;
                    overflow: auto;
                }


            }
        }

        &__others {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 3rem;
            font-size: $fs-text-mb;
            text-align: center;

            .fas,
            .fab {
                font-size: 4rem;
            }

            a,
            button {
                padding: 1rem;
                color: $black;
                background-color: transparent;
                border: transparent;
                transition: color .3s;
            }

            &__phone {
                display: flex;
                align-items: center;
                text-decoration: none;
            }

            a:hover,
            button:hover {
                color: $gold;

            }

        }
    }
}

// footer
.footer {
    padding: 2rem 0;
    padding: $padding-sides-mobile;
    color: white;
    background-color: $black;
    text-align: center;
    overflow: hidden;

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: $fs-text-mb;
        padding: 2rem 0;

        &__logo {
            height: 100px;
            width: 100px;
            background-image: url('../img/footer/logo/logo.webp');
            background-size: cover;
            background-position: center;
            border-radius: 4px;
        }
    }

    &__copyright {
        position: relative;
        font-size: 1.2rem;

        &__author {
            padding: 1rem 0;

            a {
                color: white;
                padding: .5rem;
                text-decoration: none;
                cursor: pointer;
                transition: color .3s;
            }

            a:hover {
                color: $gold;
            }

        }
    }

    &__copyright::after {
        content: '';
        position: absolute;
        left: 0;
        top: -.5rem;
        background-color: $gold;
        height: 1px;
        width: 100%;
    }
}